<li class="nav-item">
  <a class="nav-link" href="/cels">Listado Cel</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/familias/1/postulacion_familia_cel">Postulacion CEL</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/familias/1/edit">Editar Datos Perfil</a>
</li>
