<li class="nav-item">
  <a class="nav-link" href="/programas_estudio">Programas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/cels">Listado CEL</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/familias">Familias</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/alumnos">Alumnos</a>
</li>
