<li class="nav-item">
  <a class="nav-link" href="/programas_estudio">Programas Estudio Disponibles</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/programas_cel">Programas CEL </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/home">Pending: Listado CEL</a>
</li>
