<li class="nav-item">
  <a class="nav-link" href="/home">Programas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/home">Alumnos</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/home">Listado CEL</a>
</li>
