<div class="col-md-12 text-center">
  <h3>Registrarse</h3>
  <hr>
</div>

<div class="col-md-6 offset-md-3">
  <form method="POST" action="/crear_cuenta">

    <div class="form-group">
      <label>Tipo de Cuenta</label>
      <select class="form-control" name='login[perfil_id]'>
        <% Perfil.all.each do |perfil| %>
          <option value="<%= perfil.id %>" ><%= perfil.nombre.upcase %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="login[username]" id="login_username" required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" name="login[password]" type="password" required>
    </div>

    <div class="text-center">
      <!-- <a href="/login" class="btn btn-secondary">Volver</a> -->
    <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </form>
</div>
<br><br><br><br><br><br><br>
